<div class="main-container">
   <div class="card-container--main">
        <div class="grid-card-container">
          <div class="card-container">
            <button>
              <img class="p-image" src="https://firebasestorage.googleapis.com/v0/b/ecommerce-data-rupi.appspot.com/o/product%2Fa29c1672-5fe2-40b6-a72a-e70ac22e28ae-Apple%20iPhone%2014%20(Blue%2C%20128%20GB)%2Fcover%2F0.jpg?alt=media&token=589c2020-8bc3-45a8-a9a6-e0930852306b">
              <div class="p-info">
                <div class="p-name">Apple iPhone 14 (Blue, 128 GB)</div>
                <h6 class="p-price">Rs.58999 /-</h6>
              </div>
            </button>

            <div class="p-actions">
              <button mat-flat-button color="primary"><mat-icon>add_shopping_cart</mat-icon><span>MOVE TO CART</span></button>
              <button mat-flat-button color="primary"><mat-icon>delete</mat-icon><span>REMOVE</span></button>
            </div>
          </div>
        </div>
   </div>
</div>
