


<div class="main-container">
   <app-loader *ngIf="loading"></app-loader>
   <div class="grid-container" *ngIf = "!loading">
     <div class="product-detail-container">
       <div class="product-card" *ngFor = "let item of userDetail.cart.items" >
         <div class="product-details" >
           <div class="product-image-container" >
             <img src="{{item.productImage}}"/>
           </div>
           <div class="product-info">
             <h6 class="info">{{item.productName}}</h6>
             <h6 class="price">Rs.{{item.productPrice}}</h6>
           </div>
         </div>

         <div class="product-action-container">
           <div class="counter">
             <button (click) = "decrementQuantity()">-</button>
             <button>{{quantity}}</button>
             <button (click)="incrementQuantity()">+</button>
           </div>
           <div class="actions">
             <button><mat-icon (click)="updateCart(item.productId)">update</mat-icon></button>
             <button><mat-icon (click) = "deleteCart(item.productId)">delete_outline</mat-icon></button>
           </div>
         </div>
       </div>
       <mat-divider></mat-divider>
     </div>
     <div class="overview-container">
       <h6>Overview</h6>
       <div class="p-overview-info">
         <p class="p-name">1 x Apple iPhone 14(Blue, 128)</p>
         <span class="p-price">Rs.58999 /-</span>
       </div>
       <mat-divider></mat-divider>

       <div class="p-item-price-container">
         <div class="p-item">
           <h6>Total Items</h6>
           <h6>{{userDetail.cart.totalItems}}</h6>
         </div>
         <div class="p-price">
           <h6>Total Price</h6>
           <h6>Rs. {{userDetail.cart.totalPrice}}/-</h6>
         </div>
       </div>

       <div class="overview-actions">
         <button class="checkout"><mat-icon>credit_card</mat-icon><span>CHECKOUT</span></button>
         <button class="clear-chart"><mat-icon>close</mat-icon><span>CLEAR CART</span></button>
       </div>
     </div>
   </div>
</div>
