.main-container{
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  overflow: auto;
  gap: 1rem;
}

.grid-container{
  width: 90%;
  margin : auto;
  background-color: rgb(245,245,245);
  padding: 1.5rem 1rem;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 4fr 2fr;
  column-gap: 1rem;
}

.product-detail-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-card{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
}

.product-details{
  display: flex;
  gap: 1rem;
}

.product-image-container{
   height: 100px;
}

.product-image-container img{
  height: 100%;
  overflow: clip;
}

.product-info .info{
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.product-info .price{
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.000938em;
}

.product-action-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.counter{
  display: inline-flex;
  border-radius: 4px;
  width: 100%;
}

button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.75;
  padding: 3px 14px;
  border-radius: 1px;
  border : 1px solid rgba(93, 45, 174, 0.47);
  color: rgba(50, 14, 110, 0.47);
}

.btn-delete:hover{
   background-color: rgba(255, 0, 0, 0.47);
}

button:hover {
  background-color: rgba(23, 3, 53, 0.47);
}

.actions{
}

.overview-container{
  background-color: rgb(224,224,224);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.overview-container h6{
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.p-overview-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p-name {
  font-size: 1rem;
  letter-spacing: 0.00938em;
  line-height: 1.5;
}

.p-price{
  font-size: 0.8rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}


.p-item-price-container{

}

.p-item , .p-price{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-item h6 , .p-price h6{
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.00714em;
}

.checkout, .clear-chart{
  width: 50%;
  color: #5019a3;
}


.empty-cart-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



@media (max-width: 900px)
{
  .grid-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
  }
}

