.main-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.svg-container {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px
}

.actions {
  display: flex;
  gap: 1rem;
}
