<div class="sidenav" [ngClass]="{'open': isOpen}">

  <div class="profile-container">
  <div class="profile">
    <img
      src="https://img.freepik.com/free-vector/user-circles-set_78370-4704.jpg?w=740&t=st=1714726785~exp=1714727385~hmac=80009fb6c3a56594a1d9bd8c143258e863866ebbee9eed58972d1d568673b09c"/>
  </div>
    <p class="profile-name">{{userName}}</p>

  </div>
  <mat-divider></mat-divider>

  <div class="action-container--login-signup" >
    <a [routerLink]="'/login'">
      <button mat-flat-button class="actions">
        <mat-icon>input</mat-icon>
        <span>Login</span></button>
    </a>
    <a  [routerLink]="'./register'">
      <button mat-flat-button class="actions">
        <mat-icon> border_color</mat-icon>
        <span>SignUp</span></button>
    </a>
  </div>


  <ul>
    <li><a href="#">
      <button class="actions">
        <mat-icon>supervisor_account</mat-icon>
        <span>Account</span>
      </button>
    </a></li>

    <li><a href="#">
      <button class="actions">
        <mat-icon>favorite</mat-icon>
        <span>Wishlist</span>
      </button>
    </a></li>


    <li><a href="#">
      <button class="actions">
        <mat-icon>add_shopping_cart</mat-icon>
        <span>Cart</span>
      </button>
    </a></li>

    <li><a href="#">
      <button class="actions">
        <mat-icon>loyalty</mat-icon>
        <span>Orders</span>
      </button>
    </a></li>



    <li><a href="#">
      <button class="actions">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span></button>
    </a></li>
  </ul>
</div>
<router-outlet></router-outlet>
<div class="overlay" *ngIf="isOpen" (click)="closeSideNavbar()"></div>



<!--  <mat-sidenav mode="over" opened>-->
<!--    <mat-list-item class="sidenav-elements" >-->
<!--      <button mat-button><mat-icon>supervisor_account</mat-icon>Account</button>-->
<!--    </mat-list-item>-->
<!--    <mat-divider></mat-divider>-->
<!--    <mat-list-item>-->
<!--      <button mat-button><mat-icon>favorite</mat-icon>Wishlist</button>-->
<!--    </mat-list-item>-->
<!--    <mat-divider></mat-divider>-->
<!--    <mat-list-item>-->
<!--      <button mat-button><mat-icon>add_shopping_cart</mat-icon>Cart</button>-->
<!--    </mat-list-item>-->
<!--    <mat-divider></mat-divider>-->
<!--    <mat-list-item>-->
<!--      <button mat-button>	<mat-icon>loyalty</mat-icon>Orders</button>-->
<!--    </mat-list-item>-->
<!--    <mat-divider></mat-divider>-->
<!--    <mat-list-item>-->
<!--      <button mat-button>  <mat-icon>input</mat-icon>Login</button>-->
<!--    </mat-list-item>-->
<!--    <mat-divider></mat-divider>-->
<!--    <mat-list-item>-->
<!--      <button mat-button><mat-icon>exit_to_app</mat-icon>logout</button>-->
<!--    </mat-list-item>-->
<!--    <mat-divider></mat-divider>-->
<!--  </mat-sidenav>-->


