<div class="sidenav" [ngClass]="{'open': isOpen}">

  <div class="profile-container">
  <div class="profile">
    <img
      src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
  </div>
    <p class="profile-name">My Girlfriend </p>

  </div>
  <mat-divider></mat-divider>

  <div class="action-container--login-signup" >
    <a href="#">
      <button mat-flat-button class="actions">
        <mat-icon>input</mat-icon>
        <span>Login</span></button>
    </a>
    <a href="#">
      <button mat-flat-button class="actions">
        <mat-icon> border_color</mat-icon>
        <span>SignUp</span></button>
    </a>
  </div>


  <ul>
    <li><a href="#">
      <button class="actions">
        <mat-icon>supervisor_account</mat-icon>
        <span>Account</span>
      </button>
    </a></li>

    <li><a href="#">
      <button class="actions">
        <mat-icon>favorite</mat-icon>
        <span>Wishlist</span>
      </button>
    </a></li>


    <li><a href="#">
      <button class="actions">
        <mat-icon>add_shopping_cart</mat-icon>
        <span>Cart</span>
      </button>
    </a></li>

    <li><a href="#">
      <button class="actions">
        <mat-icon>loyalty</mat-icon>
        <span>Orders</span>
      </button>
    </a></li>



    <li><a href="#">
      <button class="actions">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span></button>
    </a></li>
  </ul>
</div>
<div class="overlay" *ngIf="isOpen" (click)="closeSideNavbar()"></div>


<!--  <mat-sidenav mode="over" opened>-->
<!--    <mat-list-item class="sidenav-elements" >-->
<!--      <button mat-button><mat-icon>supervisor_account</mat-icon>Account</button>-->
<!--    </mat-list-item>-->
<!--    <mat-divider></mat-divider>-->
<!--    <mat-list-item>-->
<!--      <button mat-button><mat-icon>favorite</mat-icon>Wishlist</button>-->
<!--    </mat-list-item>-->
<!--    <mat-divider></mat-divider>-->
<!--    <mat-list-item>-->
<!--      <button mat-button><mat-icon>add_shopping_cart</mat-icon>Cart</button>-->
<!--    </mat-list-item>-->
<!--    <mat-divider></mat-divider>-->
<!--    <mat-list-item>-->
<!--      <button mat-button>	<mat-icon>loyalty</mat-icon>Orders</button>-->
<!--    </mat-list-item>-->
<!--    <mat-divider></mat-divider>-->
<!--    <mat-list-item>-->
<!--      <button mat-button>  <mat-icon>input</mat-icon>Login</button>-->
<!--    </mat-list-item>-->
<!--    <mat-divider></mat-divider>-->
<!--    <mat-list-item>-->
<!--      <button mat-button><mat-icon>exit_to_app</mat-icon>logout</button>-->
<!--    </mat-list-item>-->
<!--    <mat-divider></mat-divider>-->
<!--  </mat-sidenav>-->


