
.product-container--main {
  width: 90%;
  margin: auto;
  margin-top: 8rem;
  padding: 1.5rem 1rem;
  border-radius: 4px;
  background: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100dvw;
}

.card-container--main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  padding-bottom: 0;

}

.container--main-img{
   padding: 1rem;
  position: relative;
  overflow: hidden;
  height: 50dvh;
}

.card-container--image{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}


.image-container{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider-btn {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  font-size: 1.125rem;
  background: transparent;
  color: #090317;

}

.slider-btn-lft {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(0px, -50%);

}
.slider-btn-rt {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(0px, -50%);

}
.slider-btn mat-icon{
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

.card-container--details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  height: 100%;
}

.star-rating{
  display: inline-block;
}

.product-name, .product-price{
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
}


.specification-container{
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  padding: 0 1rem;
  margin: 0;
}

.specification-container ul {
  padding: 0.1rem 0;
  margin: 0;
  color :#555555;
}

.specification-container ul li {
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}

.action-container{
  display: flex;
  justify-content: space-between;
}

.action-container button{
  width: 47%;
   padding: 1.2rem 0;
}

.keyfeature-container{
  display: flex;
  justify-content: space-between;
  color :#555555;
  gap: 1rem;
  border-bottom: 1px solid #9c9c9c;

}

.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.feature p{
  text-align: center;
}

.description-container{
  border-bottom: 1px solid #c1c1c1;
}

.description-heading{
  font-size: 1rem;
  font-weight: 500;
}

.description-info{
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  color : #4e4e4e;
}

.review-heading{
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  line-height: 1.57;
}

.review-container {
  margin: auto;
  overflow-x: auto;
  padding: 0.1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  /* Custom Scrollbar for Webkit Browsers */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #8c8c8c #f1f1f1; /* For Firefox */
}

.review-card{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 1rem 0 1rem;
  max-width: 20rem;
  min-width: 20rem;
}

.img-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.img-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.review-info{
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  color : #4e4e4e;

}

.review-info-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

}
.reviewer-name{
  font-size: 1.1rem;
  font-weight: 500;
  color: #555555;
  margin: 0;
}

.actions{
  display: flex;
  justify-content:center ;
  align-items: center;

}

.review-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  color: #555555;
}

.review{
  font-size: 0.9rem;
}

.hidden{
  display: none;
}

.review-card-ins {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  max-width: 20rem;
  padding: 1rem;
  gap: 1rem;
}

.review-instruction {
  display: flex;
  gap: 1rem;
}

.instruction{
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.05rem;
  line-height: 1.5;

}
.qus-ans {
  color: #5019a3;
}


@media (max-width: 600px)
{
  .card-container--main
  {
     display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
