.main-container {
   max-width: 80rem;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 7rem;
}

.product-container--main {
  padding: 1rem;
  background: #f9f7fc;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-container--main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50vh;

}

.card-container--image {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  overflow: hidden;
  background-color: #ffffff;
  display : flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
}

.image-container {
  height: 100%;
  width: 100%;
}

.image-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.slider-btn mat-icon{
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

.card-container--details {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #0e0e0e;
}

.product-name, .product-price{
  margin: 0;
}

.rating-container{
  display: flex;
}

.product-name{
  font-size: 1.3rem;
  font-weight: 500;

}
.product-rating{
}
.product-price{
  font-size: 1.5rem;
  font-weight: 500;
}

.specification-container{
  color: #0e0e0e;
  font-size: 0.92rem;
}

.specification-container ul {
  padding: 0 0 0 1rem;
  margin: 0;
  color :#555555;
}

.action-container{
  display: flex;
  justify-content: space-between;
}

.action-container button{
  width: 47%;
   padding: 1.2rem 0;
}

.keyfeature-container{
  display: flex;
  justify-content: space-between;
  color :#555555;
  border-bottom: 1px solid #9c9c9c;

}

.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.feature p{
  text-align: center;
}

.description-container{
  border-bottom: 1px solid #c1c1c1;
}

.description-heading{
  font-size: 1.2rem;
  font-weight: 500;
}

.description-info{
  letter-spacing: 1px;
  color : #4e4e4e;
}

.review-heading{
  font-size: 1.2rem;
  font-weight: 500;
}

.review-container {
  margin: auto;
  overflow-x: auto;
  padding: 0.1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  /* Custom Scrollbar for Webkit Browsers */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #8c8c8c #f1f1f1; /* For Firefox */
}

.review-card{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  max-width: 20rem;
  min-width: 20rem;
}

.img-container{
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background-color: black;
}
.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-info{
  display: block;

}

.review-info-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

}
.reviewer-name{
  font-size: 1.1rem;
  font-weight: 500;
  color: #303030;
  margin: 0;
}

.actions{
  display: flex;
  justify-content:center ;
  align-items: center;

}

.review-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  color: #555555;
}

.review{
  font-size: 1.05rem;
}

.hidden{
  display: none;
}

.review-card-ins {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  max-width: 20rem;
  padding: 1rem;
  gap: 1rem;
}

.review-instruction {
  display: flex;
  gap: 1rem;
}

.instruction{
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.05rem;
  line-height: 1.5;

}
.qus-ans {
  color: #5019a3;
}
