<div class="main-container">
  <div class="product-container--main">
    <div class="card-container--main">

      <div class="card-container--image">
        <button class="slider-btn" mat-flat-button>
          <mat-icon color="primary">keyboard_arrow_left</mat-icon>
        </button>
        <div class="image-container">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/ecommerce-55ed9.appspot.com/o/products%2F-original-imagtc4g22rcatjg.jpeg?alt=media&token=9243bb84-4f28-49aa-8bac-1dc485691816"/>
        </div>
        <button class="slider-btn" mat-flat-button>
          <mat-icon color="primary">keyboard_arrow_right</mat-icon>
        </button>
      </div>

      <div class="card-container--details">
        <p class="product-name">Apple Iphone 14 (Blue, 128 GB)</p>
        <p class="product-rating">⭐⭐⭐⭐⭐</p>
        <p class="product-price">Rs.58999 /-</p>

        <div class="specification-container">
          <ul>
            <li>128 GB Rom</li>
            <li>15.49 com (6.1 inch) Super Retina XDR Display</li>
            <li>12MP + 12MP | 12MP Front Camera</li>
            <li>A15 Bionic Chip, 6 Core Processor</li>
          </ul>
        </div>

        <div class="action-container">
          <button mat-flat-button color="primary">
            <mat-icon>add_shopping_cart</mat-icon>
            ADD TO CART
          </button>
          <button mat-flat-button color="primary">
            <mat-icon>shopping_basket</mat-icon>
            BUY NOW
          </button>
        </div>

        <div class="keyfeature-container">
          <div class="feature">
            <mat-icon> local_shipping</mat-icon>
            <p>Free and Fast Delivery</p>
          </div>
          <div class="feature">
            <mat-icon> local_atm</mat-icon>
            <p>Pay on Delivery</p>
          </div>
          <div class="feature">
            <mat-icon>stars</mat-icon>
            <p>Top Brand</p>
          </div>
          <div class="feature">
            <mat-icon> beenhere</mat-icon>
            <p>12 Month Hassle Free Warranty</p>
          </div>
        </div>


      </div>
    </div>

    <div class="description-container">
      <p class="description-heading">Description</p>
      <p class="description-info">iPhone 15 Pro, a titanium marvel, boasts an aerospace-grade build, making it the lightest Pro model ever. The
        A17 Pro Chip marks a historic leap in Apple GPUs, delivering unparalleled graphics performance and immersive
        gaming experiences. The camera system shines with a 48MP Main camera, offering remarkable detail and automatic
        portrait enhancements. Convenience is key with the Action button for quick tasks and Focus filters. Plus, it's
        USB 3 compatible, revolutionizing data transfer speeds. This iPhone even shares its charging cable with your Mac
        or iPad. Embrace innovation, cut cable clutter, and elevate your mobile experience with the iPhone 15 Pro.</p>
    </div>
  </div>
</div>
