<div class="main-container">
  <div class="product-container--main">
    <div class="card-container--main">

      <div class="card-container--image">
        <button class="slider-btn" mat-flat-button (click)="previousImage()">
          <mat-icon color="primary">keyboard_arrow_left</mat-icon>
        </button>
        <div class="image-container">
          <img
            src="{{imageUrls[currentImageIndex]}}"/>
        </div>
        <button class="slider-btn" mat-flat-button (click)="nextImage()">
          <mat-icon color="primary">keyboard_arrow_right</mat-icon>
        </button>
      </div>

      <div class="card-container--details">
        <p class="product-name">{{productDetail.name}}</p>
        <p class="product-rating">⭐⭐⭐⭐⭐</p>
        <p class="product-price">Rs.{{productDetail.price}} /-</p>

        <div class="specification-container" >
          <ul  *ngFor="let keyfeature of keyFeatures">
            <li>{{keyfeature}}</li>
          </ul>
        </div>

        <div class="action-container">
          <button mat-flat-button color="primary" (click) = "addToCart()">
            <mat-icon>add_shopping_cart</mat-icon>
            ADD TO CART
          </button>
          <button mat-flat-button color="primary">
            <mat-icon>shopping_basket</mat-icon>
            BUY NOW
          </button>
        </div>

        <div class="keyfeature-container">
          <div class="feature">
            <mat-icon> local_shipping</mat-icon>
            <p>Free and Fast Delivery</p>
          </div>
          <div class="feature">
            <mat-icon> local_atm</mat-icon>
            <p>Pay on Delivery</p>
          </div>
          <div class="feature">
            <mat-icon>stars</mat-icon>
            <p>Top Brand</p>
          </div>
          <div class="feature">
            <mat-icon> beenhere</mat-icon>
            <p>12 Month Hassle Free Warranty</p>
          </div>
        </div>


      </div>
    </div>

    <div class="description-container">
      <p class="description-heading">Description</p>
      <p class="description-info">{{productDetail.description}}</p>
    </div>
  </div>
</div>
