<div class="navbar-container">
  <mat-toolbar color="primary">
    <button mat-icon-button class="menu-button" aria-label="icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Ecommerce</span>
    <span class="spacer"></span>
    <button mat-icon-button class="favorite-button" aria-label="icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="share-button" aria-label="icon-button with cart icon">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>

    <button mat-icon-button class="acount-button" aria-label="icon-button with account icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</div>
