.spacer {
  flex: 1 1 auto;
}

.centered-form {
  display: flex;
  gap: 2rem;
  width: 20rem;
  align-content: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}


