.spacer {
  flex: 1 1 auto;
}

.centered-form{
  display: flex;
  gap: 2rem;
  width: 20rem;
  align-content: center;
  justify-content: center;
}

/*.navbar-container{*/
/*  position: sticky;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  width: 100%;*/
/*  z-index: 9999;*/

/*}*/

a{
  text-decoration: none;
  color: inherit;
}
