<form class="flex flex-col gap-4">
  <div class="mb-2">
    <label for="small-input" class="block text-sm font-medium text-gray-900"
      >Product Name</label
    >
    <input
      placeholder="TV"
      type="text"
      id="small-input"
      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 rounded-md sm:text-sm w-full p-2.5 text-gray-700 border border-gray-300 dark:text-gray-300 dark:border-gray-600 dark:placeholder-gray-400"
    />
  </div>
  <div class="mb-2">
    <label for="category" class="block text-sm font-medium text-gray-900"
      >Select Category</label
    >
    <select
      id="category"
      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 rounded-md sm:text-sm w-full p-2.5 text-gray-700 border border-gray-300 dark:text-gray-300 dark:border-gray-600 dark:placeholder-gray-400"
    >
      <option value="">Select Category</option>
      <option value="Electronics">Electronics</option>
      <option value="Decor">Decor</option>
      <option value="Health">Health</option>
    </select>
  </div>
  <div class="mb-2">
    <label for="subcategory" class="text-sm font-medium text-gray-900"
      >Select Subcategory</label
    >
    <select
      id="subcategory"
      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 rounded-md sm:text-sm w-full p-2.5 text-gray-700 border border-gray-300 dark:text-gray-300 dark:border-gray-600 dark:placeholder-gray-400"
    >
      <option value="">Select Subcategory</option>
      <option value="Electronics">Electronics</option>
      <option value="Decor">Decor</option>
      <option value="Health">Health</option>
    </select>
  </div>

  <div class="price mb-2">
    <label
      for="number-input"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Product Price:</label
    >
    <input
      type="number"
      id="number-input"
      aria-describedby="helper-text-explanation"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="999"
      required
    />
  </div>
  <div class="mb-2">
    <label
      for="description"
      class="text-sm font-medium text-gray-900 dark:text-white"
      >Description</label
    >
    <textarea
      id="description"
      rows="4"
      class="p-2.5 max-h-32 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Write product description..."
    ></textarea>
  </div>
  <div class="mb-2">
    <label
      for="feature"
      class="mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Feature</label
    >
    <textarea
      id="feature"
      rows="4"
      class="p-2.5 max-h-32 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Write product feature..."
    ></textarea>
  </div>
  <div class="cover-img md-2">
    <label
      class="mb-2 text-sm font-medium text-gray-900 dark:text-white"
      for="single_files"
      >Upload cover Image</label
    >
    <input
      class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      id="single_files"
      type="file"
    />
  </div>

  <div class="cover-img md-2">
    <label
      class="mb-2 text-sm font-medium text-gray-900 dark:text-white"
      for="single_files"
      >Upload product Images</label
    >
    <input
      class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      id="single_files"
      type="file"
      multiple
    />
  </div>
  <button
    type="button"
    class="md:4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  >
    Add product
  </button>
</form>
