.main-container {
  width: 90%;
  padding: 1.5rem 1rem;
  margin: auto;
  margin-top: 8rem;
  background-color: rgb(245, 245, 245);
}

.card-container {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

a {
  text-decoration: none;
}

.card {
  padding: 1rem 0;
}

.img-container {
  overflow: hidden;
  height: 150px;
  width: 100%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-info {
  color: #0e0e0e;
}

.card-info-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}

.product-name {
  font-size: 1rem;
}

.product-price {
  font-size: 1.25rem;
  color: #292929;
  font-weight: 500;
}

.keyfeature-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.keyfeature {
  border: 1px solid #9c9c9c;
  padding: 0.1rem;
}

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3a3a3a;
}

@media (max-width: 1630px) {
  .card-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media (max-width: 1190px) {
  .card-container {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 1rem;
  }
}

@media (max-width: 800px) {
  .card-container {
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 1rem;
  }
}
