<div class="main-container">
  <div class="product-container--main">
    <div class="heading">{{subCategoryName}}</div>
    <div class="card-container">
      <ng-container *ngFor="let product of productDetails">
        <div class="card">

          <div class="img-container">
            <img src="{{product.coverImage}}" alt = "product-image"/>
          </div>
          <div class="card-info-main">
            <a [routerLink]="['/product', product.name, product.id]">
          <div class="card-info">
            <p class="product-name">{{product.name}}</p>
            <p class="product-price">Rs.{{product.price}}</p>
            <div class="keyfeature-container">
              <ng-container *ngFor="let feature of splitKeyFeature(product.keyFeature)">
                <div class="keyfeature">{{feature}}</div>
              </ng-container>

            </div>
          </div>
            </a>
            <div class="action-container">
              <div class="action-buttons">
                <button mat-icon-button class="favorite-button" aria-label="icon-button with heart icon">
                  <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button class="share-button" aria-label="icon-button with cart icon">
                  <mat-icon>add_shopping_cart</mat-icon>
                </button>
              </div>
              <div class="raiting-container">
                     rating
              </div>
            </div>
          </div>
        </div>
      </ng-container>
<!--      <div class="card">-->


<!--        <div class="img-container">-->
<!--          <img src="https://firebasestorage.googleapis.com/v0/b/ecommerce-55ed9.appspot.com/o/products%2F-original-imagtc4g22rcatjg.jpeg?alt=media&token=9243bb84-4f28-49aa-8bac-1dc485691816"/>-->
<!--        </div>-->
<!--        <div class="card-info-main">-->
<!--          <a href="#">-->
<!--            <div class="card-info">-->
<!--              <p class="product-name">Apple Iphone 15</p>-->
<!--              <p class="product-price">Rs.58999</p>-->
<!--              <div class="keyfeature-container">-->
<!--                <div class="keyfeature">128 GB ROM</div>-->
<!--                <div class="keyfeature">15.49 cm (6.1 inch) Super Retina XDR Display</div>-->
<!--                <div class="keyfeature">12MP + 12MP | 12MP Front Camera</div>-->
<!--                <div class="keyfeature">A15 Bionic Chip, 6 core Processor Processor</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </a>-->
<!--          <div class="action-container">-->
<!--            <div class="action-buttons">-->
<!--              <button mat-icon-button class="favorite-button" aria-label="icon-button with heart icon">-->
<!--                <mat-icon>favorite</mat-icon>-->
<!--              </button>-->
<!--              <button mat-icon-button class="share-button" aria-label="icon-button with cart icon">-->
<!--                <mat-icon>add_shopping_cart</mat-icon>-->
<!--              </button>-->
<!--            </div>-->
<!--            <div class="raiting-container">-->
<!--              rating-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->


<!--        <div class="img-container">-->
<!--          <img src="https://firebasestorage.googleapis.com/v0/b/ecommerce-55ed9.appspot.com/o/products%2F-original-imagtc4g22rcatjg.jpeg?alt=media&token=9243bb84-4f28-49aa-8bac-1dc485691816"/>-->
<!--        </div>-->
<!--        <div class="card-info-main">-->
<!--          <a href="#">-->
<!--            <div class="card-info">-->
<!--              <p class="product-name">Apple Iphone 15</p>-->
<!--              <p class="product-price">Rs.58999</p>-->
<!--              <div class="keyfeature-container">-->
<!--                <div class="keyfeature">128 GB ROM</div>-->
<!--                <div class="keyfeature">15.49 cm (6.1 inch) Super Retina XDR Display</div>-->
<!--                <div class="keyfeature">12MP + 12MP | 12MP Front Camera</div>-->
<!--                <div class="keyfeature">A15 Bionic Chip, 6 core Processor Processor</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </a>-->
<!--          <div class="action-container">-->
<!--            <div class="action-buttons">-->
<!--              <button mat-icon-button class="favorite-button" aria-label="icon-button with heart icon">-->
<!--                <mat-icon>favorite</mat-icon>-->
<!--              </button>-->
<!--              <button mat-icon-button class="share-button" aria-label="icon-button with cart icon">-->
<!--                <mat-icon>add_shopping_cart</mat-icon>-->
<!--              </button>-->
<!--            </div>-->
<!--            <div class="raiting-container">-->
<!--              rating-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>

<router-outlet></router-outlet>



