<div class="main-container">
  <mat-card>
    <div class="label-container">
      <mat-icon>lock</mat-icon>
      <p>Sign Up</p>
    </div>

    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="firstLastName-container">
          <mat-form-field appearance="outline" class="first-name">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>

          <mat-form-field appearance="outline" class="last-name">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput formControlName="confirmPassword">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input type="tel" matInput formControlName="phone">
          </mat-form-field>
        </div>

        <div class="image-input">
          <input type="file" (change)="onFileChanged($event)">
        </div>

        <button mat-flat-button color="primary" type="submit">Create Account</button>

      </form>

      <div class="login-link">
        <a [routerLink]="['/login']">Already have an account? Sign in here!</a>
      </div>

    </mat-card-content>

  </mat-card>
</div>

<router-outlet></router-outlet>
