<div class="main-container">
  <mat-card>
    <div class="label-container">
      <mat-icon>lock</mat-icon>
      <p>Sign Up</p>
    </div>

    <mat-card-content >
       <form>
         <div class="firstLastName-container">
           <mat-form-field appearance="outline" class="first-name" >
             <mat-label>First Name</mat-label>
             <input matInput placeholder="Placeholder">
           </mat-form-field>

           <mat-form-field appearance="outline" class="last-name">
             <mat-label>Last Name</mat-label>
             <input matInput >
           </mat-form-field>
         </div>

         <div>
           <mat-form-field appearance="outline">
             <mat-label>Email</mat-label>
             <input matInput >
           </mat-form-field>
         </div>

         <div>
           <mat-form-field appearance="outline">
             <mat-label>Password</mat-label>
             <input matInput >
           </mat-form-field>
         </div>

         <div>
           <mat-form-field appearance="outline">
             <mat-label>Confirm Password</mat-label>
             <input matInput >
           </mat-form-field>
         </div>

         <div>
           <mat-form-field appearance="outline">
             <mat-label>Address</mat-label>
             <input matInput >
           </mat-form-field>
         </div>


         <div>
           <mat-form-field appearance="outline">
             <mat-label>Phone Number</mat-label>
             <input matInput >
           </mat-form-field>
         </div>

         <div>
           <mat-form-field appearance="outline">
             <mat-label>Profile Photo</mat-label>
             <input matInput >
           </mat-form-field>
         </div>


         <button mat-flat-button color="primary">Create Account</button>

       </form>
    </mat-card-content>

  </mat-card>
</div>
