.main-container {
  margin: 8rem auto;
  padding: 1rem;
  height: 100vh;
  position: relative;
}

.label-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #673ab7;
}

mat-card {
  max-width: 32rem;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  z-index: 0;
}

.firstLastName-container {
  display: flex;
  justify-content: space-between;
}

mat-form-field, button {
  width: 100%;
}

.first-name, .last-name {
  width: 48%;
}

.login-link {
  text-align: end;
  padding: 1rem 0 0 0;
}

.login-link a {
  text-decoration: none;
}

.image-input {
  border: 1px solid #b0b0b0;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}
