
<mat-dialog-content>
  <header>
    <h6>Edit Info</h6>
    <button mat-icon-button class="close-btn"><mat-icon>close</mat-icon></button>
  </header>
 <form>
   <div class="f-l-container">
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput >
  </mat-form-field>

   <mat-form-field appearance="outline">
     <mat-label>First Name</mat-label>
     <input matInput >
   </mat-form-field>
   </div>

   <mat-form-field appearance="outline" class="address-input">
     <mat-label>Address</mat-label>
     <textarea matInput></textarea>
   </mat-form-field>

   <mat-form-field appearance="outline" class="number-input">
     <mat-label>Phone Number</mat-label>
     <input matInput >
   </mat-form-field>

   <button  class="update-btn"  mat-flat-button color="primary">UPDATE</button>
 </form>
</mat-dialog-content>
