<div class="model-container">
<mat-dialog-content>
  <header>
    <h6>Edit Info</h6>
    <button mat-icon-button class="close-btn" (click) = "dialogRef.close()"><mat-icon>close</mat-icon></button>
  </header>
 <form [formGroup]="registerForm" (ngSubmit)="updateUserDetail()" >
   <div class="f-l-container">
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput formControlName = "firstName">
  </mat-form-field>

   <mat-form-field appearance="outline">
     <mat-label>First Name</mat-label>
     <input matInput  formControlName = "lastName">
   </mat-form-field>
   </div>

   <mat-form-field appearance="outline" class="address-input">
     <mat-label>Address</mat-label>
     <textarea matInput formControlName = "address"></textarea>
   </mat-form-field>

   <mat-form-field appearance="outline" class="number-input">
     <mat-label>Phone Number</mat-label>
     <input matInput  formControlName = "phone">
   </mat-form-field>

    <div class = img-input>
      <input type="file" (change)="onFileChanged($event)"  />
    </div>

   <button type="submit" class="update-btn"  mat-flat-button color="primary" >UPDATE</button>
 </form>
</mat-dialog-content>
</div>
