<mat-toolbar class="category-menu">
  <div class="divider"></div>
  <a  href="#" class="menu-link">

    <p>Electronics</p>
  </a>
  <div class="divider"></div>
  <a href="#" class="menu-link">
    <p>Grocery</p>
  </a>
  <div class="divider"></div>
  <a href="#" class="menu-link">
    <p>Fashion</p>
  </a>
  <div class="divider"></div>
  <a href="#" class="menu-link">
    <p>Appliances</p>
  </a>
  <div class="divider"></div>
  <a href="#" class="menu-link">
    <p>Mobiles</p>
  </a>
  <div class="divider"></div>
  <a href="#" class="menu-link">
    <p>Home & Furniture</p>
  </a>
  <div class="divider"></div>
  <a href="#" class="menu-link">
    <p>Books</p>
  </a>
  <div class="divider"></div>
  <a href="#" class="menu-link">
    <p>Health</p>
  </a>
  <div class="divider"></div>

</mat-toolbar>

