
.navbar {
  display: flex;
  width: 100%;
  overflow-x: scroll; /* Enable horizontal scroll */
  white-space: nowrap;
  /* Prevent wrapping */
  background-color: #f1f1f1;
  justify-content: space-around;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 10px 20px;
}



a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 450;
}

mat-divider{
  height: 1rem;
  width: 1rem;
  font-size: 1rem;
  color: #555;

}

/* Prevent navbar shrink on resize */
@media (max-width: 768px) {
  .navbar {
    width: 100%;
    justify-content: normal/* Set fixed width here (optional) */
  }
}
