.home-container--main {
  height: 100vh;
  max-width: 100rem;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.loader{
   margin-top: 7rem;
}
