.home-container--main {
  max-width: 100rem;
  padding: 2.8rem 0.8rem;
  margin: 0 auto;
  margin-top: 5.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.loader {
  margin-top: 7rem;
}

@media (max-width: 600px) {

  .home-container--main{
    padding-top: 1.8rem;
    gap: 1rem;

  }


}
