
<div class="header-container">
  <app-navbar></app-navbar>
  <app-category-nav></app-category-nav>
</div>








<!--<mat-drawer-container autosize>-->
<!--  <mat-drawer #drawer opened = "true" mode ="side">-->
<!--  <mat-list-item>-->
<!--     <button mat-button><mat-icon>supervisor_account</mat-icon>Account</button>-->
<!--  </mat-list-item>-->
<!--    <mat-list-item>-->
<!--      <button mat-button><mat-icon>favorite</mat-icon>Wishlist</button>-->
<!--    </mat-list-item>-->
<!--    <mat-list-item>-->
<!--      <button mat-button><mat-icon>add_shopping_cart</mat-icon>Cart</button>-->
<!--    </mat-list-item>-->
<!--    <mat-list-item>-->
<!--      <button mat-button>	<mat-icon>loyalty</mat-icon>Orders</button>-->
<!--    </mat-list-item>-->

<!--    <mat-list-item>-->
<!--      <button mat-button>  <mat-icon>input</mat-icon>Login</button>-->
<!--    </mat-list-item>-->
<!--    <mat-list-item>-->
<!--      <button mat-button><mat-icon>exit_to_app</mat-icon>logout</button>-->
<!--    </mat-list-item>-->
<!--  </mat-drawer>-->

<!--</mat-drawer-container>-->
