<div class="main-container">
  <div class="card-container--main">
    <div class="user-view-container">
      <div class="user-img-container">
        <mat-dialog-actions>
        <button class="update-btn" (click)="openDialog()" ><mat-icon>edit</mat-icon></button>
        </mat-dialog-actions>
        <div class="image">
          <img src=""/>
        </div>
      </div>

      <div class="user-info-container">
        <div class="user-detail">
          <h5>Ravi Rawat</h5>
          <h6>Email: emailgmail.com</h6>
          <h6>Mobile: 7395091311</h6>
          <h6>Address: hyderabad, Telanganga, india, 500081</h6>
        </div>
        <div class="user-joining">
          <span>Joined on: May 5, 2024</span>
        </div>
      </div>

    </div>

    <mat-divider></mat-divider>
    <div class="order-container-main">
      <div class="order-heading">
        <h6>Orders</h6>
        <a class="view-all">view all</a>
      </div>

      <div class = "order-detail-container">
      <mat-card >
        <mat-card-content class="order-detail-card">

          <div class="order-info">
            Order#: "adfjdfdfj56ldflffffffffffffffffffff"
          </div>
          <a class="order-action"><mat-icon>launch</mat-icon></a>

        <div class="order-price">
          Total price: Rs.58999 /-
        </div>
        <div class="order-items">1</div>
        <div class="order-purchased">Purchased On: May 7, 2024</div>
        </mat-card-content>
      </mat-card>


        <mat-card >
          <mat-card-content class="order-detail-card">

            <div class="order-info">
              Order#: "adfjdfdfj56ldfl"
            </div>
            <a class="order-action"><mat-icon>launch</mat-icon></a>

            <div class="order-price">
              Total price: Rs.58999 /-
            </div>
            <div class="order-items">1</div>
            <div class="order-purchased">Purchased On: May 7, 2024</div>
          </mat-card-content>
        </mat-card>

        <mat-card >
          <mat-card-content class="order-detail-card">

            <div class="order-info">
              Order#: "adfjdfdfj56ldfl"
            </div>
            <a class="order-action"><mat-icon>launch</mat-icon></a>

            <div class="order-price">
              Total price: Rs.58999 /-
            </div>
            <div class="order-items">1</div>
            <div class="order-purchased">Purchased On: May 7, 2024</div>
          </mat-card-content>
        </mat-card>
        <mat-card >
          <mat-card-content class="order-detail-card">

            <div class="order-info">
              Order#: "adfjdfdfj56ldfl"
            </div>
            <a class="order-action"><mat-icon>launch</mat-icon></a>

            <div class="order-price">
              Total price: Rs.58999 /-
            </div>
            <div class="order-items">1</div>
            <div class="order-purchased">Purchased On: May 7, 2024</div>
          </mat-card-content>
        </mat-card>
        <mat-card >
        <mat-card-content class="order-detail-card">

          <div class="order-info">
            Order#: "adfjdfdfj56ldfl"
          </div>
          <a class="order-action"><mat-icon>launch</mat-icon></a>

          <div class="order-price">
            Total price: Rs.58999 /-
          </div>
          <div class="order-items">1</div>
          <div class="order-purchased">Purchased On: May 7, 2024</div>
        </mat-card-content>
      </mat-card>

      </div>
    </div>
  </div>
</div>
